repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
#      - id: detect-aws-credentials
      - id: detect-private-key
#      - id: no-commit-to-branch
#      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.17
    hooks:
      - id: helmlint

  - repo: local
    hooks:
      - id: generate-docs
        name: generate helm README.md and values.schema.json
        language: script
        entry: .pre-commit/process.sh
        files: (Chart\.yaml)$
        exclude: examples/.*$
